<div
        class="modal fade"
        tabindex="-1"
        aria-hidden="true"
        data-modal-form-target="modal"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modalTitle }}</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <iframe class="iframe-container-modal" id="movie-{{ modalId }}"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            <div class="modal-body">
                <div class="modal-detail">
                    Movie:
                    {{ modalTitle }}
                    <div class="modal-rating">
                        {% for i in 1..5 %}
                            {% if i > modalRating/2 %}
                                <span class="fa fa-star"></span>
                            {% else %}
                                <span class="fa fa-star checked"></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <span>(  {{ modalNbVote }} votes )</span>

                </div>
            </div>
        </div>
    </div>
</div>